* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background: #202532;
    width: 100vw;
    padding: 1em;
}

header nav {
    font-family: "Fjalla One";
    text-align: center;
    margin: 0 5vw 0;
}

header nav a {
    text-decoration: none;
    color: #f4912d;
    padding-left: 4px;
    padding-right: 7px;
    display: block;
}

header nav a:hover {
    color: #89cce5;
}

@media screen and (min-width: 676px) {
    header nav a {
        display: inline-block;
    }
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0 0;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 100px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0 0 0 0;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

#footer div {
    background-color: #202532;
    padding: 10px;
    text-align: center;
    color: #f4912d;
}
